<div class="message">
    <div class="header">
        <div class="header__santander-icon">
            <img src="../../../assets/icons/santander-icon.png" alt="">
        </div>
        <div class="header__icon">
            <img [src]="'../../../assets/icons/'+ notification.icon +'.png'" alt="">
        </div>
    </div>

    <div class="content">
        <h3 class="content__title">{{notification.title}}</h3>
        <h3 class="content__subtitle">{{notification.subtitle}}</h3>
        <p class="content__description">{{notification.description}}</p>
        <button class="btn" routerLink="/" (click)="notification.btnAction()">Continuar</button>
    </div>
</div>