<div class="header">
    <sn-icon icon="sn-BAN005"></sn-icon>

    <div class="header__icon">
        <img src="../../../assets/icons/oh-no.svg" alt="">
    </div>
</div>

<div class="content">
    <h3 class="content__title">¡Lo sentimos!</h3>
    <h3 class="content__subtitle">No has logrado completar el reto LikeU</h3>
    <p class="content__description">Desafortunadamente no podrás continuar participando en el reto. Recuerda que puedes continuar usando tu tarjeta.</p>
    <button routerLink="/" sn-button>Continuar</button>
</div>



