.challenge-likeu__container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.challenge-likeu {
  display: grid;
  gap: 1.5rem;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 375px;
}
