<div class="challenge-likeu__container bg__circle" *ngIf="missionActive;else spinner" >
    <app-header animation="up"></app-header> 
    <div class="challenge-likeu">
        <app-card-data 
            [data]="cardDetail"
            [percent]="getPercent()"
            >
        </app-card-data>

        <app-month-challenges
        [mission]="missionActive"
        [tabs]="tabs"
        (challengeActive)="challengeActive=$event;showModal()"
        (indexTab)="showMissionActive($event)"
        >

        </app-month-challenges>
        <!-- <app-month-challenges 
         [mandatoryChallenges]="mandatoryChallenges" 
         [specialChallenges]="specialChallenges" 
         [tabs]="tabs"
         [seconds]="remainingDays"
         [dueDate]="cutOfDate"
         (indexTab)="getChallenges($event);indexTab=$event"
         [missionStatus]="missionStatus"
         [initialTab]="currentPeriod"
         (challengeActive)="challengeActive=$event;showModal()"
        >
        </app-month-challenges> -->
        <app-frequently-questions [questions]="FAQs"></app-frequently-questions>
    </div>
</div>
<ng-template #spinner>
    <sn-spinner ></sn-spinner>
</ng-template>

<!-- <app-modal *show="showModal" [challenge]="challengeActive" (closeModal)="showModal=$event"></app-modal> -->
    