<div class="challenge-likeu__container bg__circle" *ngIf="cardDetail;else spinner" >
    <app-header animation="up"></app-header>
    <div class="challenge-likeu">
        <app-card-data
            [data]="cardDetail"
            [percent]="percent"
            >
        </app-card-data>

        <app-month-challenges
            [mission]="missionActive"
            [tabs]="tabs"
            [dueDate]="cutOfDate"
            [initialTab]="indexTab"
            [activeTab]="indexTab"
            [specialChallenges]="specialChallenges"
            (challengeActive)="challengeActive=$event;showModal()"
            (indexTab)="showMissionActive($event);indexTab=$event"
        >
        </app-month-challenges>

        <app-frequently-questions [questions]="FAQs"></app-frequently-questions>
    </div>
</div>
<ng-template #spinner>
    <sn-spinner ></sn-spinner>
</ng-template>

