.challenge-likeu__container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.challenge-likeu {
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  max-width: 375px;
}

app-card-data{
  margin-bottom: 1.5rem;
}

app-month-challenges{
  margin-bottom: 1.5rem;
}
