<div class="progress">
    
    <div class="progress__background">
        <div class="progress__circle progress__circle--active"  >
            <svg viewBox="0, 0, 100, 100">
                <circle stroke-width="5" fill="transparent" stroke="var(--theme-color-ui-04)" r="47" cx="50" cy="50" style="stroke-dasharray: 295.31; stroke-dashoffset: 0;"></circle>
            </svg>
        </div>
        <div class="progress__circle  " >
            <svg viewBox="0, 0, 100, 100">
                <circle stroke-width="5" fill="transparent" stroke="var(--theme-color-primary-01)" r="47" cx="50" cy="50" [ngStyle]="{'stroke-dasharray': '295.31', 'stroke-dashoffset': strokeDashoffset}"></circle>
            </svg>
        </div>
    </div>

    <div class="progress__description">
        <span class="progress__text">{{percent | percent}}</span>
        <span class="progress__potential-limit">{{total | currency:'MXN':'symbol-narrow':'1.0'}}</span>
    </div>

    
</div>

