.progress{
    display: flex;
    justify-content: center;
    position: relative;
}

.progress__background{
    height: 4rem;
    width: 4rem;
    top: 0;
}

.progress__circle{
    align-items: center;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 4rem;
    justify-content: center;
    margin: auto;
    position: absolute;   
    transition: stroke-dashoffset .3s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    width: 4rem;

}

.progress__description{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center ;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    
}
.progress__text{
    font-weight: 600;
}
.progress__potential-limit{
    color: var(--theme-color-text-02);
    font-size: .6rem;
}




/* @media (min-width: 360px) and (max-width: 414px){
    .progress__background {
        width: 64px;
    }
    .progress__circle{

        width: 64px;
        height: 64px;
    }

}
@media screen and (min-width: 415px){
    .progress__background {
        width: 72px;
    }
    
    .progress__circle{
        width: 72px;
        height: 72px;
    }

}

circle{
    margin: auto;
} */