
<div class="first-page">
    <app-header></app-header>
    <div class="first-page__header">
        <h2 class="first-page__title">Reto Like U</h2>
        <h4 class="first-page__subtitle">¡Santander confía en ti!</h4>
        <img class="" src="../../../assets/icons/cards.png" alt="">
    </div>

    <p class="first-page__description"> <span>Aumenta tu línea de crédito</span> sin ir a sucursal.</p>

    <div class="first-page__time-line">
        <h3 class="first-page__objectives-title">Algunas de las misiones por cumplir, son:</h3>
        <sn-timeline></sn-timeline>
    </div>

    <p class="first-page__terms">*Consulta términos y condiciones completos en <span class="first-page__terms-link">www.santander.com.mx/personas/tarjetas-de-credito/likeu.html</span></p>

    <button class="btn" (click)="close()" >Continuar</button>
</div>
