
<div class="first-page">
    <app-header></app-header>
    <div class="first-page__header">
        <h2 class="first-page__title">Reto Like U</h2>
        <h4 class="first-page__subtitle">¡Santander confía en ti!</h4>
        <img class="" src="../../../assets/icons/cards.svg" alt="">
    </div>
    
    <p class="first-page__description"> <span>Incrementa tu línea de crédito</span> de forma automática cumpliendo los objetivos para alcanzar <span>tu potencial financiero.</span></p>

    <div class="first-page__time-line">
        <h3 class="first-page__objectives-title">Tus objetivos son los siguientes*</h3>
        <sn-timeline></sn-timeline>
    </div>

    <p class="first-page__terms">*Consulta términos y condiciones completos en <a href="">www.santander.com.mx/personas/tarjetas-de-credito/likeu.html</a></p>

    <button class="first-page__button">Quiero unirme al reto</button>
</div>