<div #modal class="modal-bg">
    <div class="modal">
        <button class="modal__btn-cerrar" (click)="closeModal.emit(false)">{{data.btnClose}}</button>
        <div class="modal__header">
            <img [src]="data.icon" alt="icono">
            <h2 class="modal__title">{{data.title}}</h2>
            <span class="modal__subtitle">{{data.subtitle}}</span>            
        </div>
        <ul>
            <ng-container *ngFor="let element of data.body">
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, possimus!</li>
            </ng-container>
        </ul>
    </div>
</div>