<div class="modal-bg">
  <div
    animation="zoomIn"
    class="modal"
    [ngClass]="{
      modal: true,
      'modal--redirect': modal.challenge.redirection
    }"
  >
    <button class="modal__btn-cerrar" (click)="modal.close()">Cerrar</button>
    <div class="modal__header">
      <img
        [src]="'../../../../assets/icons/' + modal.challenge.icon + '.png'"
        alt="icono"
      />
      <h2
        [ngClass]="{
          modal__title: true,
          'modal__title--gradient': modal.challenge.type === 'accelerator'
        }"
      >
        {{
          modal.challenge.titlemodal
            ? modal.challenge.titlemodal
            : modal.challenge.title
        }}
      </h2>
      <span *ngIf="modal.challenge.subtitle" class="modal__subtitle">{{
        modal.challenge.subtitle
      }}</span>
    </div>

    <div class="modal__content">

      <ng-container *ngIf="modal.challenge.modalContent">
        <span
          *ngFor="let text of modal.challenge.modalContent"
          [innerHTML]="convertToStrong(text.text , (text.strong)?text.strong:false)"
          [ngClass]="{
            'modal__content-item':true,
            'modal__content--bold':(text.strong===true),
            'modal__content--tab':(text.tab),
            'modal__content--mb':(text.mb),
            'modal__content--pretext':text.pretext==='DOT'
          }"
        >
        <span class="modal__content--pretext-icon" *ngIf="text.pretext==='NUMBER'">{{text.pretextIcon}}</span>
        </span>
      </ng-container>
    </div>
    <button
      class="btn"
      *ngIf="modal.challenge.redirection"
      (click)="redirect()"
    >
      Continuar
    </button>
  </div>
</div>
