<div [ngClass]="{
    'time-line':true,
    'time-line--horizontal':(direction===''),
    'time-line--vertical':(direction==='vertical')
}" >

<ng-container *ngFor="let element of elements;let i = index" >

    <div class="time-line__element">
        <div class="time-line__progress">

            <div [ngClass]="{
                'time-line__line':true,
                'time-line__line--active':element.status==='COMPLETE',
                'time-line__line--last':(i===elements.length-1)
                }"
            >
            </div>

            <div *ngIf="i<elements.length-1" [ngClass]="{
                'time-line__point':true,
                'time-line__point--next':element.status==='NEXT',
                'time-line__point--complete':element.status!=='NEXT'
            }"></div>
                <!-- <sn-icon class="time-line__goal-icon" *ngIf="i===elements.length-1" icon="sn-BAN068"></sn-icon> -->
        </div>
        <div class="time-line__texts">
            <span class="time-line__principal-text"> {{element.principalText}} </span>
            <span *ngIf="element.secondaryText" class="time-line__secondary-text"> {{element.secondaryText}} </span>
        </div>
    </div>

</ng-container>

    <!-- <div class="time-line__points" >
        
        <ng-container *ngFor="let element of elements;let i=index">

            <div class="point">
                <div *ngIf="i<elements.length-1" [ngClass]="{
                    'point__next':element.status==='NEXT',
                    'point__complete':element.status!=='NEXT'
                }" >
                </div>
                
                <sn-icon class="time-line__goal-icon" *ngIf="i===elements.length-1" icon="sn-BAN068"></sn-icon>
            </div>
    
        </ng-container>
        
        <div class="time-line__line" [ngStyle]="{'width':percent+'%'}"></div>
    </div>

    <div class="time-line__texts">
        <ng-container *ngFor="let element of elements;let i=index">
            <div class="time-line__name">{{element.text| titlecase}}</div>
        </ng-container>
    </div> -->

</div>
