<div [ngClass]="{
    'time-line':true,
    'time-line--horizontal':(direction===''),
    'time-line--vertical':(direction==='vertical')
}" >

    <ng-container *ngFor="let element of elements;let i = index" >

        <div class="time-line__element">
            <div class="time-line__progress">

                <div [ngClass]="{
                    'time-line__line':true,
                    'time-line__line--active':element.status==='COMPLETE',
                    'time-line__line--last':(i===elements.length-1)
                    }"
                >
                </div>

                <div *ngIf="i<elements.length-1" [ngClass]="{
                    'time-line__point':true,
                    'time-line__point--next':element.status==='NEXT',
                    'time-line__point--complete':element.status!=='NEXT'
                }"></div>
                <div *ngIf="(i===elements.length-1)" class="time-line__goal-icon">
                    <img   class="time-line__star" src="../../../../assets/icons/star.png" alt="">
                </div>
            </div>
            <div class="time-line__texts">
                <span class="time-line__principal-text"> {{element.principalText}} </span>
                <span *ngIf="element.secondaryText" class="time-line__secondary-text"> {{element.secondaryText}} </span>
            </div>
        </div>
    </ng-container>
</div>
