<div class="tabs">
    <lu-tab></lu-tab>
    <lu-tab></lu-tab>
    <lu-tab></lu-tab>
    <lu-tab></lu-tab>
    <lu-tab></lu-tab>
    <lu-tab></lu-tab>
</div>

<div class="month-challenges">
    <div class="time-remaining">
        <span class="time-remaining__text"> Faltan: <span class="time-remaining__days">15 días</span> </span>
    </div>
    <h2 class="month-challenges__title">Retos por completar</h2>
    <div class="challenges">
        <sn-challenge></sn-challenge>
        <sn-challenge></sn-challenge>
        <sn-challenge></sn-challenge>
    </div>
</div>


