.tabs{
    align-items: center;
    display: grid;
    column-gap: .5rem;
    margin:0 1rem 1.5rem 1rem;
    grid-auto-flow: column;
    max-width: 340px;
    overflow-x: auto;
    overflow-y: none;
    width: 375px;
}

.tabs::-webkit-scrollbar{
    display: none;
}

lu-tab{
    cursor: pointer;
}

.general-challenges{
    background-color: var(--theme-color-background-03);
    box-shadow: 0px 6px 14px rgba(32, 45, 81, 0.05);
    border-radius: 16px;
    display: grid;
    margin: 0 1rem;
    overflow: auto;
    padding-bottom: 1.5rem;
    position: relative;
}

.time-remaining{
    color: var(--theme-color-text-01);
    background: linear-gradient(99.84deg, #FF1D53 0%, #A540D7 86.96%);
    border-radius: 0px 14px 0px 9px;
    font-size: .75rem;
    right: 0;
    padding: .25rem .75rem;
    position: absolute;
    top: 0;
}

.time-remaining__days{
    font-weight: 700;
}

.challenges__title{
    font-size: 1.25rem;
    padding: 1rem 0 0 0;
    margin-bottom: 1rem;
}

.challenge__description{
    margin-bottom: 2rem;
}

.challenges{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    margin-bottom:  1rem;
    row-gap: 1.5rem;
}

.normal-challenges{
    margin: 0 1.5rem;
}

.special-challenges{
    border-top: 1px solid var(--theme-color-ui-04);
    margin: 0 1.5rem;
}


