.card-general__container{
    background-color: #fff;
    padding: 1em;
    width: 100%;
}

.card-general__container .card-general__limit-increase__container{
    display: grid;
    gap:.5em;
    grid-template-columns: repeat(2,1fr);

}

.card-general__container .card-general__limit-increase__container .card__potential-limit,
.card-general__container .card-general__limit-increase__container .card__next-increase
{
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(2,1fr);
}

.card-general__container .card-general__limit-increase__container .card__potential-limit .card__potential-limit__texts,
.card-general__container .card-general__limit-increase__container .card__next-increase .card__next-increase__texts{
    display: flex;
    flex-direction: column;
}

.card-general__container .card-general__limit-increase__container .card__potential-limit .card__potential-limit__texts .card__potential-limit__texts-limit,
.card-general__container .card-general__limit-increase__container .card__next-increase .card__next-increase__texts .card__next-increase__texts-limit{
    margin-top: .5em;
}

.card-general__container .card-general__advance .months-challenges__container{
    display: grid;
    font-size: .60em;
    gap: 1em;
    grid-template-columns: repeat(6,1fr);
    min-width: 54px;
}

.card-general__container .card-general__advance .months-challenges__container .month-challenge__container{
    border:1px solid var(--SecondaryTextColor);
    border-radius: 2px;
    margin: auto;
    margin-bottom: .5em;
    min-width: 30px;
    height: 1em;
    width:70%;

}

.card-general__container .card-general__advance .months-challenges__container .mont-challenge__text{
    display: block;
    margin-bottom: .5em;
    text-align: center;
}

.card-general__container .card-general__advance .mont-challenge__text__superindice{
    margin-bottom: .5em;
}