.card-general{
    background-color: #fff;
    padding: 1em;
    width: 100%;
}

.card-general__limit-increase{
    display: grid;
    gap:.5em;
    grid-template-columns: repeat(2,1fr);

}

.card-general__potential-limit,
.card-general__next-increase
{
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(2,1fr);
}

.card-general__potential-limit-texts,
.card-general__next-increase-texts{
    display: flex;
    flex-direction: column;
}

.card-general__potential-limit-texts-limit,
.card-general__next-increase-texts-limit{
    margin-top: .5em;
}

.card-general__months-challenges{
    display: grid;
    font-size: .60em;
    gap: 1em;
    grid-template-columns: repeat(6,1fr);
    min-width: 54px;
}

.card-general__month-challenge{
    border:1px solid var(--SecondaryTextColor);
    border-radius: 2px;
    margin: auto;
    margin-bottom: .5em;
    min-width: 30px;
    height: 1em;
    width:70%;

}

.card-general__month-challenge-text{
    display: block;
    margin-bottom: .5em;
    text-align: center;
}

.card-general__monts-challenges-text-superindice{
    margin-bottom: .5em;
}