.tab{
    align-items: center;
    background:transparent;
    border: 1px solid var(--theme-color-ui-04);
    border-radius: 1.5rem;
    color: var(--theme-color-text-04);
    display: flex;
    font-size: .875rem;
    font-weight: 700;
    justify-content: center;
    min-width: 7.25rem;
    padding: .5rem 1rem;
    transition: all ease .3s;
    width: fit-content;
    cursor: pointer;
}

.tab__text{
    display: block;
}

.tab__icon{
    background-image: url("../../../../assets/icons/lock.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-size: 100% 100%;
    height: 1.25rem;
    margin-right: .25rem;
    max-width: 1.25rem;
    width: 1.25rem;

}

.active--tab{
    background: linear-gradient(97.56deg, #FF1D53 -35.86%, #A540D7 87.68%);
    border: none;
    color: #fff!important;
    position: relative;
    transform: scale(0.9);
}

.tab__icon--ongoing{
    background-image: url("../../../../assets/icons/Pagos_recurrentes.png");
}
.tab__icon--finish{
    background-image: url("../../../../assets/icons/Activa_tu_tarjeta.png");
}


/* @media screen and (max-width:374px) {
  .tab{
} */
