.tab{
    align-items: center;
    background: linear-gradient(97.56deg, #FF1D53 -35.86%, #A540D7 87.68%);
    border: none;
    border-radius: 24px;
    color: var(--theme-color-text-01);
    display: flex;
    font-size: .875rem;
    font-weight: 700;
    justify-content: center;
    padding: .5rem 1rem;
    width: 100%;

}

.tab__icon{
    margin-right: .25rem;
}