.challenge{
    display: grid;
    gap: 1rem;
    justify-content: center;
}

.challenge__content{
    align-items: center;
    background: var(--theme-color-background-03);
    border-radius: 1rem;
    box-shadow: 0px 6px 14px rgba(153, 153, 153, 0.3);
    display: flex;
    justify-content: center;
    margin:auto;
    max-width: 100px;
    min-height: 100px;
    min-width: 100px;
    position: relative;
}

.challenge__content--accelerator{
    background: var(--theme-color-background-gradient-likeu);
}

.challenge__content--accelerator::after{
    background: var(--theme-color-background-03);
    border-radius: 1rem ;
    content: '';
    height: 100%;
    position: absolute;
    transform: scale( .96 );
    width: 100%;

}

.challenge__title{
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    text-align: center;
}

.challenge__img{
    height: 4rem;
    width: 4rem;
    z-index: 1;
}

.challenge__check{
    right: -1.125rem;
    top: -1rem;
    position: absolute;
    z-index: 10;
}