.question{
    background: #F3F8FA;
    border-radius: 14px;
    width: 100%;
    transition: all ease .3s;
}
.question__header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.25rem;
    cursor: pointer;

}

.question__text{
    font-size: 1rem;
    font-weight: 700;
    max-width: 245px;

}

.question__chevron{
    max-height: 1rem;
}    

.question__body{
    font-size: .875rem;
    padding: 0 1.25rem 1.5rem;
}

.question__aditional{
    display: block;
    margin-top: 1.5rem;
    color: var(--theme-color-text-03);
}

.question__link{
    font-weight: 400;
    text-decoration: none;
    color: var(--theme-color-neutral-02);
}

sn-icon{
    font-size: 1.5rem;
    font-weight: 700;
}

sn-icon>i[class^=sn-]{
    background: linear-gradient(99.84deg, #FF1D53 0%, #A540D7 86.96%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.chevron::before{
    border-style: solid;
    border-width: .25em .25em 0 0;
    content: '';
    display: inline-block;
    height: .45rem;
    width: .45rem;
}