<div class="progress">

    <div class="progress__background">
        <div class="progress__circle"  >
            <svg viewBox="0, 0, 100, 100">
                <circle class="circle circle--bg" r="46" cx="50" cy="50"></circle>
            </svg>
        </div>
        <div class="progress__circle  " >
            <svg viewBox="0, 0, 100, 100">
                <defs>
                    <linearGradient id="grad">
                        <stop offset="90%" stop-color="#A540D7"></stop>
                    </linearGradient>
                </defs>
                <circle class="circle circle--active" r="46" cx="50" cy="50" animation [loadProgress]="strokeDashoffset"></circle>
            </svg>
        </div>
    </div>

    <div class="progress__description">
        <figure class="progress__icon">
            <img [src]="icon" alt="icon">
        </figure>
        <span class="progress__text">{{percent | percent}}</span>

    </div>


</div>

