<div class="modal-container">
    <div class="modal-challenge">
        <div class="modal-challenge__header">
            <h2 class="modal-challenge__title">Reto LikeU</h2>
            <h2 class="modal-challenge__subtitle">!Santander confía en ti¡</h2>
        </div>
    
        <div class="modal-goals">
            <figure class="modal-goals__goal">
                <img class="modal-goals__icon" src="" alt="">
            </figure>
            <span class="modal-goals__text">Lorem ipsum dolor sit amet.</span>
        </div>
    
        <div class="modal-challenges">
            <h3>Tus objetivos</h3>
            <div class="modal-challenge">
                <figure class="modal-challenge__icon">
                    <img src="" alt="">
                </figure>
                <div class="modal-challenge__texts">
                    <span class="modal-challenge__title"></span>
                    <span class="modal-challenge__description"></span>
                </div>
            </div>
        </div>
    
        <button class="button">Entendido</button>
    </div>
</div>