/* You can add global styles to this file, and also import other style files */

:root{
    --theme-color-background-gradient-likeu:linear-gradient(99.84deg, #FF1D53 0%, #A540D7 86.96%);
    --theme-color-background-gradient-likeu:linear-gradient(80deg, #FF1D53 0%, #A540D7 86.96%);
    --theme-color-background-default:#F2F2F2FF;
    --theme-color-background-default2:rgba(255, 255, 255, 0.7);
    --theme-color-background-03:#FFFFFFFF;
    --theme-color-primary-01:#EC0000FF;
    --theme-color-primary-05:#000000ff;
    --theme-color-neutral-02:#191919;
    --theme-color-text-01:#FFFFFFFF;
    --theme-color-text-02:#595959FF;
    --theme-color-text-03:#767676;
    --theme-color-text-04:#999999FF;
    --theme-color-text-06:#EC0000FF;
    --theme-color-ui-04:#D9D9D9
    ;
}

@font-face {
    font-family: 'SantanderText';
    src: url('./assets/fonts/santander/SantanderText-Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'SantanderText';
    src: url('./assets/fonts/santander/SantanderText-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'SantanderText';
    src: url('./assets/fonts/santander/SantanderText-Light.otf');
    font-weight: lighter;
}

@font-face {
    font-family: 'SantanderHeadline';
    src: url('./assets/fonts/santander/SantanderHeadline-Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'SantanderHeadline';
    src: url('./assets/fonts/santander/SantanderHeadline-Bold.otf');
    font-weight: bold;
}

body{
    background-color: #F5F7FA;
    font-size: 16px;
    font-family: 'SantanderText', sans-serif, Arial, Helvetica;
    margin:auto;
    max-width: 375px;
    width: 375px;
}

*{
    margin: 0;
    box-sizing: border-box;

}
.hidden{
    display: none;
}

.modal-container{
    align-items: center;
    background-color: rgba(0,0,0,.3);
    display: flex;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.sn-icon-button{
    min-height: auto!important;
}

sn-icon>i[class^=sn-]{
    display: flex;
    align-items: center;
    color: var(--theme-color-primary-01);
}

.modal__btn-cerrar{
    background: none;
    border: none;
    color: var(--theme-color-text-06);
    position: absolute;
    right: 1.5rem;
    top: .875rem;
}

.btn{
    align-self: center;
    background-color: var(--theme-color-primary-01);
    border: none;
    border-radius: 3rem;
    color: var(--theme-color-text-01);
    font-weight: 700;

    padding: 0.75rem 1.5rem;
}

.bg__circle::before{
    background: var(--theme-color-background-03);
    border-radius: 0 0 50% 50%;
    content: '';
    height: 375px;
    top:-200px;
    left: -25%;
    position: absolute;
    width: 150%;
    z-index: -1;

}




/*Animation styles*/


