
.transition{
    transition: all ease 1s;
}


.zoomIn{
    animation: zoomIn .3s ease-in normal;
}

@keyframes zoomIn {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(.6);
    }
    75%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
    
}

.drop-down-hidden{
    overflow: hidden;
    padding-bottom: 0!important;
    transition: all ease .3s;
    height: 0;
}

.downUp{
    bottom: -100%;
    transition: all ease .3s;
}

.rotate{
    transition: all ease .3s;
}

@keyframes downUp {
    0%{
        bottom: -100%;
    }
    50%{
        bottom: -50%;
    }
    75%{
        bottom: -25%;
    }
    100%{
        bottom: 0;
    }
}





