<div class="card-data">
    <div class="card-details">
        <span class="card-details__current-limit-title">Límite actual</span>
        <ng-container *ngIf="cardData.current_limit">
            <span class="card-details__current-limit"> <span class="card-details__current-limit-amount">{{cardData.current_limit?.amount | currency}}</span></span>
        </ng-container>
    </div>


    <div class="percent">
        <sn-circle-progress [percent]="50" [total]="13500"></sn-circle-progress>
    </div>

</div>
