<div class="card-data">
    <figure class="card-data__image">
        <img class="card-data__image-img" src="" alt="">
    </figure>
    <div class="card-data__details">
        <span class="card-data__details-current-limit-title">Tu límite actual</span>
        <ng-container *ngIf="cardData.current_limit">
            <span class="card-data__details-current-limit"> <span class="card-data__details-current-limit-amount">{{cardData.current_limit?.amount | currency}}</span> <span class="card-data__details-current-limit-currency"> {{cardData.current_limit.currency_code}} </span> </span>

        </ng-container>
        <span class="card-data__details-type">{{cardData.type}}</span>
        <span class="card-data__details-display-number">{{cardData.display_number}}</span>
    </div>
</div>
