.card-data{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
}

.card-data__image{
    margin: 0;
    min-width: 35%;
    width: fit-content;
}

.card-data__image-img{
    min-width: 100%;
}

.card-data__details{
    display: flex;
    flex-direction: column;
    min-width: 55%;
}

.card-data__details>span{
    margin-bottom: .5em;
}

.card-data__details span:last-child{
    margin: 0;
}

.card-data__details-current-limit-title{
    font-weight: 600;
}

.card-data__details-current-limit
{
    font-weight: 700;
}

.card-data__details-current-limit-currency,
.card-data__details-type{
    color: var(--SecondaryTextColor);
}

.card-data__details-type{
    font-size: .75em;
}